<header>
  <nav class = "navbar navbar-expand-md navbar-dark bg-primary" >
<div><a href= "https://www.todolist.com" class="navbar-brand">
    To Do List</a></div>
      
      <ul class="navbar-nav">
        <li><a *ngIf="hardcodedAuthenticationService.isUserSignedIn()" routerLink="/welcome/chatyra" class="nav-link">Home</a></li>
        <li><a *ngIf="hardcodedAuthenticationService.isUserSignedIn()" routerLink="/todolist" class="nav-link">To Do's</a></li>
      </ul>
      

      <ul class="navbar-nav navbar-collapse justify-content-end">
        <li><a *ngIf="!hardcodedAuthenticationService.isUserSignedIn()" routerLink="/signin" class="nav-link">Sign In</a></li>
        <li><a *ngIf="hardcodedAuthenticationService.isUserSignedIn()" routerLink="/signout" class="nav-link">Sign Out</a></li>
      </ul>
  </nav>
</header><BR>
